*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --text-color:#8B0000;
    --text-color2:#D9D8D3;
    --bg-color:#800000;
    --bg-color2:#B22222;
    --bg-color3:#A52A2A;
    --text-color1:#1C1C1C;
    --second-color:#FA8072;
    --other-color:#868686;
    --big-font:5.5rem;
    --p-font:1,5rem;
    --p-font2:2rem;
}

html{
	scroll-behavior:smooth;
}

body{
    background: var(--bg-color3);
    color: var(--text-color)
}

header{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;              
    display: flex;               
    align-items: center;
    justify-content: space-between;
    padding: 10PX 9%;
    background-color: var(--bg-color);                                             
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color2);
    font-size: 30px;
    font-weight: bold;
}

.logo img{
    vertical-align: middle;
    color: var(--text-color2);
    font-size: 5px;
    margin-right: 5px;
    width: 50px;
}

.menu{
    display: flex;
    font-size: 500;

}

.menu a{
    color: var(--text-color2);
    font-size: var(--p-font2);
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
}
.menu a:hover{
    color: var(--second-color)
}
.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--bg-color);
    background-image: url(./img/camilacabello4k.jpg);
    background-size: cover;
    
}


.content-text{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.content-text h1{
    font-size: var(--big-font);
    line-height: 1.3;
    font-weight: 700;
}

.content-text p{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 4rem;

}

article{
    padding: 0 12%; 
}

.biografia{
    display: flex;
    position: relative;
    padding: 70px 70px;
    width: 100%;
    height: 90vh;
    gap: 1rem;
    color: var(--text-color2);
    background-color: var(--bg-color2);
}

.biografia h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;
}


.biografia p{
    color: var(--text-color2);
    font-weight: 400;
    line-height: 1.3;
    max-width: 500px;
    margin-bottom: 4rem;
    text-align:left;
}

.biografia img{
    height: 600px;
    border-radius: 100%;
}

.albuns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    padding: 100px 150px;
    gap: 40px;
    background-color: var(--bg-color3) ;
    position: relative;
    width:100%;
    height: 100vh;
    color: var(--text-color2);
}


h2{
    text-align: center;
    margin: 5px 0;
    color: var(--text-color2);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 600;
}

.box{
    padding: 20px 40px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px #000000;
    transition: all ease .55s;
    height: 80%;
}

.box img{
    border-radius: 20px;
    height: 200px;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.Loja{
    background-color: var(--bg-color2);

}

.RedesSociais{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    background-color: var(--bg-color3);
}

.icons{
   font-size: 100px;
   color: var(--text-color1);
}








